# Assignment: Working with Data

>Using the data below, answer the following questions:

>1) Which entities (top 5) had the largest population density in 2020?
>2) Which entities have more water area than land area? 
>3) Which entities increased in population the most in the last 10 years?
>4) What state bird accounts for the largest population as of 2020? Land area?
>5) How many entities' largest city is their capital city?
>6) Which city has the largest percent drop from their largest city to their 5th largest? 100*(1st largest - 5th largest)/(1st largest)

In [96]:
import pandas as pd

In [97]:
facts = pd.read_csv('../data/state_facts.tsv',delimiter="\t")
facts.head(5)

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,City_1,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop
0,Alabama,135767,131171,4597,5024279.0,4779736,7,Yellowhammer (Northern flicker),Camellia,Audemus jura nostra defendere,...,Birmingham,208928,Huntsville,204189.0,Montgomery,198956.0,Mobile,189572.0,Tuscaloosa,101113.0
1,Alaska,1723337,1477953,245384,733391.0,710231,1,Willow ptarmigan,Forget-me-not,North to the Future,...,Anchorage,291538,Juneau,32197.0,Fairbanks,31516.0,Wasilla,10529.0,Sitka,8647.0
2,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,Tafuna,7945,Nu'uuli,3955.0,Pago Pago,3656.0,'Ili'ili,3195.0,Pava'ia'i,2450.0
3,Arizona,295234,294207,1026,7151502.0,6392017,9,Cactus wren,Saguaro cactus blossom,Ditat Deus,...,Phoenix,1660272,Tucson,545975.0,Mesa,508958.0,Chandler,257165.0,Scottsdale,255310.0
4,Arkansas,137732,134771,2961,3011524.0,2915918,4,Northern mockingbird,Apple blossom,Regnat populus,...,Little Rock,197881,Fort Smith,87845.0,Fayetteville,86751.0,Springdale,81029.0,Jonesboro,76990.0

In [98]:
Q1: Population Density

SyntaxError: invalid syntax (<ipython-input-98-9c2f471eb5f2>, line 1)

In [99]:
facts[['State','Pop_2020','Area_land']]
facts['density'] = facts['Pop_2020']/facts['Area_land']
facts.sort_values(by= 'density',ascending = False, inplace=True)
facts[['State','Pop_2020','Area_land','density']].head(5)

                     State   Pop_2020  Area_land      density
9    District of Columbia    689545.0        158  4364.208861
32             New Jersey   9288994.0      19047   487.688035
43           Rhode Island   1097379.0       2678   409.775579
42            Puerto Rico   3285874.0       8868   370.531574
23          Massachusetts   7029917.0      20202   347.981239

In [100]:
Q2:More Water area than land area

SyntaxError: invalid syntax (<ipython-input-100-b0d8ce4bb15b>, line 1)

In [101]:
facts[(facts['Area_water'] > facts['Area_land'])]

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,density
48,United States Virgin Islands,1898,348,1550,106235.0,106405,1*,California gull,Yellow Elder,United in Pride and Hope,...,18481,Sion Farm3,13003.0,Northside3,10049.0,East End3,5128.0,Southcentral3,3277.0,305.272989
2,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,7945,Nu'uuli,3955.0,Pago Pago,3656.0,'Ili'ili,3195.0,Pava'ia'i,2450.0,249.681818
12,Guam,1478,543,935,168.4,159358,1*,Guam rail (ko'ko'),Bougainvillea spectabilis,Where America's Day Begins,...,44943,Yigo,20539.0,Tamuning,19685.0,Mangilao,15191.0,Barrigada,8875.0,0.310129
37,Northern Mariana Islands,5117,472,4644,51.0,53883,1*,Mariana fruit-dove,Flores mayo,NaN,...,48220,Tinian2,3136.0,Rota2,2527.0,Northern Islands2,0.0,NaN,NaN,0.108051

In [102]:
Q3:Most Increase in Area

SyntaxError: invalid syntax (<ipython-input-102-e2161c480232>, line 1)

In [103]:
facts['increase'] = facts['Pop_2020'] - facts['Pop_2010']
facts.sort_values(by= 'increase',ascending = False, inplace=True)
facts[['State','Pop_2020','Pop_2010','increase']].head()

           State    Pop_2020  Pop_2010   increase
47        Texas   29145505.0  25145561  3999944.0
10      Florida   21538187.0  18801310  2736877.0
5    California   39538223.0  37253956  2284267.0
11      Georgia   10711908.0   9687653  1024255.0
52   Washington    7705281.0   6724540   980741.0

In [104]:
Question 4 Population:

SyntaxError: invalid syntax (<ipython-input-104-a5944286847d>, line 1)

In [120]:
facts.sort_values(by='Pop_2020',ascending = False,inplace=True)
facts[['Pop_2020','State_bird']].head(1)

     Pop_2020         State_bird
5  39538223.0  California quail

In [ ]:
Question 5

In [121]:
facts.sort_values(by='Area_land',ascending = False,inplace=True)
facts[['State_bird','Area_land']].head(1)

          State_bird  Area_land
1  Willow ptarmigan     1477953

>Using the "state_dates.tsv" data, answer the remaining questions. You will need to merge the two data sets together:

>7) Of the states that joined the United States before 1790, what is the most common state flower?
>8) Which has the larger population density, the most dense US Territory or the least dense state?
>9) Make a graph that plots the populations of the largest city in each entity in the order in which they joined the US. Make the bars black
>10) Make two additional graphs like the one above but one for land area (green bars) and one for water area (blue bars)

Hint: `pd.read_csv('../data/state_dates.tsv',delimiter="\t")`

Hint: You likely want to convert the Date column to datetime. You might have to correct errors in the data as well.

Hint: `states['Date']<pd.datetime(1790,1,1)`

Hint: `pd.merge(****,****,left_on='USPS_code',right_on='Abbreviation',how='outer')`

In [60]:
import matplotlib as plt

In [122]:
state = pd.read_csv('../data/state_dates.tsv',delimiter="\t")
state

,Name,Date,Status,Abbreviation
0,Alabama,"December 14, 1819",State,AL
1,Alaska,"January 3, 1959",State,AK
2,American Samoa,"April 17, 1900",Territory,AS
3,Arizona,"February 14, 1912",State,AZ
4,Arkansas,"June 15, 1836",State,AR
5,California,"September 9, 1850",State,CA
6,Colorado,"August 1, 1876",State,CO
7,Connecticut,"January 9, 1788",State,CT
8,Delaware,"December 7, 1787",State,DE
9,District of Columbia,"February 21, 1871",Federal District,DC
10,Florida,"March 3, 1845",State,FL
11,Georgia,"January 2, 1788",State,GA
12,Guam,"April 11, 1899",Territory,GU
13,Hawaii,"August 21, 1959",State,HI
14,Idaho,"July 3, 1890",State,ID
15,Illinois,"December 3, 1818",State,IL
16,Indiana,"December 11, 1816",State,IN
17,Iowa,"December 28, 1846",State,IA
18,Kansas,"January 29, 1861",State,KS
19,Kentucky,"June 1, 1792",State,KY
20,Louisiana,"April 30, 1812",State,LA
21,Maine,"March 15, 1820",State,ME
22,Maryland,"April 28, 1788",State,MD
23,Massachusetts,"February 6, 1788",State,MA
24,Michigan,"January 26, 1837",State,MI
25,Minnesota,"May 11, 1858",State,MN
26,Mississippi,"December 10, 1817",State,MS
27,Missouri,"August 10, 1821",State,MO
28,Montana,"November 8, 1889",State,MT
29,Nebraska,"March 1, 1867",State,NE
30,Nevada,"October 31, 1864",State,NV
31,New Hampshire,"June 21, 1788",State,NH
32,New Jersey,"December 18, 1787",State,NJ
33,New Mexico,"January 6, 1912",State,NM
34,New York,"July 26, 1788",State,NY
35,North Carolina,"November 21, 1789",State,NC
36,North Dakota,"November 2, 1889",State,ND
37,Northern Mariana Islands,"November 4, 1986",Territory,MP
38,Ohio,"March 1, 1803",State,OH
39,Oklahoma,"November 16, 1907",State,OK
40,Oregon,"February 14, 1859",State,OR
41,Pennsylvania,"December 12, 1787",State,PA
42,Puerto Rico,"April 11, 1899",Territory,PR
43,Rhode Island,"May 29, 1790",State,RI
44,South Carolina,"May 23, 1788",State,SC
45,South Dakota,"November 2, 1889",State,SD
46,Tennessee,"June 1, 1796",State,TN
47,Texas,"December 29, 1845",State,TX
48,United States Virgin Islands,"March 31, 1917",Territory,VI
49,Utah,"January 4, 1896",State,UT
50,Vermont,"March 4, 1791",State,VT
51,Virginia,"June 25, 1788",State,VA
52,Washington,"November 11, 1889",State,WA
53,West Virginia,"June 20, 1863",State,WV
54,Wisconsin,"May 29, 1848",State,WI
55,Wyoming,"July 10, 1890",State,WY

In [123]:
table = pd.merge(facts, state,left_on='USPS_code',right_on='Abbreviation',how='outer')
table

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,City_4,city_4_pop,City_5,city_5_pop,density,increase,Name,Date,Status,Abbreviation
0,Alaska,1723337,1477953,245384,733391.0,710231,1,Willow ptarmigan,Forget-me-not,North to the Future,...,Wasilla,10529.0,Sitka,8647.0,0.496221,23160.0,Alaska,"January 3, 1959",State,AK
1,Texas,695662,676587,19075,29145505.0,25145561,38,Northern mockingbird,Bluebonnet sp.,Friendship,...,Austin,993649.0,Fort Worth,902938.0,43.077247,3999944.0,Texas,"December 29, 1845",State,TX
2,California,423967,403466,20501,39538223.0,37253956,52,California quail,California poppy,Eureka,...,San Francisco,884198.0,Fresno,530093.0,97.996419,2284267.0,California,"September 9, 1850",State,CA
3,Montana,380831,376962,3869,1084225.0,989415,2,Western meadowlark,Bitterroot,Oro y plata,...,Bozeman,48532.0,Butte,34284.0,2.876218,94810.0,Montana,"November 8, 1889",State,MT
4,New Mexico,314917,314161,757,2117522.0,2059179,3,Greater roadrunner,Yucca flower,Crescit eundo,...,Santa Fe,94528.0,Roswell,47635.0,6.740245,58343.0,New Mexico,"January 6, 1912",State,NM
5,Arizona,295234,294207,1026,7151502.0,6392017,9,Cactus wren,Saguaro cactus blossom,Ditat Deus,...,Chandler,257165.0,Scottsdale,255310.0,24.307722,759485.0,Arizona,"February 14, 1912",State,AZ
6,Nevada,286380,284332,2048,3104614.0,2700551,4,Mountain bluebird,Sagebrush,All for our country,...,North Las Vegas,246133.0,Paradise,219178.0,10.918975,404063.0,Nevada,"October 31, 1864",State,NV
7,Colorado,269601,268431,1170,5773714.0,5029196,8,Lark bunting,Rocky Mountain columbine,Nil sine numine,...,Fort Collins,167830.0,Lakewood,156798.0,21.509118,744518.0,Colorado,"August 1, 1876",State,CO
8,Wyoming,253335,251470,1864,576851.0,563626,1,Western meadowlark,Indian paintbrush,Equal Rights and Cedant arma togae.,...,Gillette,31903.0,Rock Springs,23082.0,2.293916,13225.0,Wyoming,"July 10, 1890",State,WY
9,Oregon,254799,248608,6191,4237256.0,3831074,6,Western meadowlark,Oregon grape,"The Union, and Alis volat propriis",...,Gresham,110158.0,Hillsboro,108389.0,17.043925,406182.0,Oregon,"February 14, 1859",State,OR
10,Idaho,216443,214045,2398,1839106.0,1567582,2,Mountain bluebird,"Syringa, mock orange",Esto perpetua,...,Idaho Falls,63398.0,Caldwell,56541.0,8.592147,271524.0,Idaho,"July 3, 1890",State,ID
11,Utah,219882,212818,7064,3271616.0,2763885,4,Hermit thrush,Sego lily,Industry,...,West Jordan,116046.0,Orem,97521.0,15.372835,507731.0,Utah,"January 4, 1896",State,UT
12,Kansas,213100,211754,1346,2937880.0,2853118,4,Western meadowlark,Sunflower,Ad astra per aspera,...,Olathe,139605.0,Topeka,125904.0,13.874024,84762.0,Kansas,"January 29, 1861",State,KS
13,Minnesota,225163,206232,18930,5706494.0,5303925,8,Common loon,Pink and white lady's slipper,L'étoile du Nord (Official state motto) / Quae...,...,Duluth,85884.0,Bloomington,85578.0,27.670265,402569.0,Minnesota,"May 11, 1858",State,MN
14,Nebraska,200330,198974,1356,1961504.0,1826341,3,Western meadowlark,Goldenrod,Equality before the law,...,Grand Island,51478.0,Kearney,33761.0,9.858092,135163.0,Nebraska,"March 1, 1867",State,NE
15,South Dakota,199729,196350,3379,886667.0,814180,1,Ring-necked pheasant,Pasque flower,Under God the people rule,...,Brookings,24509.0,Watertown,22153.0,4.515747,72487.0,South Dakota,"November 2, 1889",State,SD
16,North Dakota,183108,178711,4397,779094.0,672591,1,Western meadowlark,Wild prairie rose,"Liberty and union, now and forever, one and in...",...,Minot,47340.0,West Fargo,36566.0,4.359519,106503.0,North Dakota,"November 2, 1889",State,ND
17,Missouri,180540,178040,2501,6154913.0,5988927,8,Eastern bluebird,Hawthorn,Salus populi suprema lex esto,...,Columbia,123180.0,Independence,116925.0,34.570394,165986.0,Missouri,"August 10, 1821",State,MO
18,Oklahoma,181037,177660,3377,3959353.0,3751351,5,Scissor-tailed flycatcher,Oklahoma rose,Labor omnia vincit,...,Broken Arrow,109471.0,Edmond,93127.0,22.286125,208002.0,Oklahoma,"November 16, 1907",State,OK
19,Washington,184661,172119,12542,7705281.0,6724540,10,Willow goldfinch (American goldfinch),Coast rhododendron,Al-ki,...,Vancouver,183012.0,Bellevue,147599.0,44.767173,980741.0,Washington,"November 11, 1889",State,WA
20,Georgia,153910,148959,4951,10711908.0,9687653,14,Brown thrasher,Cherokee rose,"Wisdom, Justice, Moderation",...,Macon,153095.0,Savannah,147181.0,71.911788,1024255.0,Georgia,"January 2, 1788",State,GA
21,Michigan,250487,146435,104052,10077331.0,9883640,13,American robin,Apple blossom,Si quaeris peninsulam amoenam circumspice / Tu...,...,Sterling Heights,132964.0,Ann Arbor,121890.0,68.817776,193691.0,Michigan,"January 26, 1837",State,MI
22,Iowa,145746,144669,1077,3190369.0,3046355,4,Eastern goldfinch (American goldfinch),Wild rose,Our liberties we prize and our rights we will ...,...,Sioux City,82396.0,Iowa City,76290.0,22.052886,144014.0,Iowa,"December 28, 1846",State,IA
23,Illinois,149995,143793,6202,12812508.0,12830632,17,Northern cardinal,Violet,"State sovereignty, national union",...,Joliet,148099.0,Rockford,146526.0,89.103837,-18124.0,Illinois,"December 3, 1818",State,IL
24,Wisconsin,169635,140268,29367,5893718.0,5686986,8,American robin,Wood violet,Forward,...,Kenosha,100164.0,Racine,77432.0,42.017552,206732.0,Wisconsin,"May 29, 1848",State,WI
25,Florida,170312,138887,31424,21538187.0,18801310,28,Northern mockingbird,Orange blossom,In God we trust,...,Orlando,289191.0,St. Petersburg,265098.0,155.077055,2736877.0,Florida,"March 3, 1845",State,FL
26,Arkansas,137732,134771,2961,3011524.0,2915918,4,Northern mockingbird,Apple blossom,Regnat populus,...,Springdale,81029.0,Jonesboro,76990.0,22.345490,95606.0,Arkansas,"June 15, 1836",State,AR
27,Alabama,135767,131171,4597,5024279.0,4779736,7,Yellowhammer (Northern flicker),Camellia,Audemus jura nostra defendere,...,Mobile,189572.0,Tuscaloosa,101113.0,38.303276,244543.0,Alabama,"December 14, 1819",State,AL
28,North Carolina,139391,125920,13471,10439388.0,9535483,14,Northern cardinal,Flowering dogwood,Esse quam videri,...,Durham,278547.0,Winston-Salem,248232.0,82.904924,903905.0,North Carolina,"November 21, 1789",State,NC
29,New York,141297,122057,19240,20201249.0,19378102,26,Eastern bluebird,Rose,Excelsior!,...,Yonkers,199663.0,Syracuse,142749.0,165.506681,823147.0,New York,"July 26, 1788",State,NY
30,Mississippi,125438,121531,3907,2961279.0,2967297,4,Northern mockingbird,Magnolia,Virtute et armis,...,Biloxi,45968.0,Hattiesburg,45951.0,24.366450,-6018.0,Mississippi,"December 10, 1817",State,MS
31,Pennsylvania,119280,115883,3397,13002700.0,12702379,17,Ruffed Grouse,Mountain laurel,"Virtue, Liberty and Independence",...,Erie,96471.0,Reading,88495.0,112.205414,300321.0,Pennsylvania,"December 12, 1787",State,PA
32,Louisiana,135659,111898,23761,4657757.0,4533372,6,Brown pelican,Magnolia,"Union, justice, and confidence",...,Lafayette,126143.0,Lake Charles,78001.0,41.625025,124385.0,Louisiana,"April 30, 1812",State,LA
33,Tennessee,109153,106798,2355,6910840.0,6346105,9,Northern mockingbird,Iris,Agriculture and commerce,...,Chattanooga,180557.0,Clarksville,163648.0,64.709451,564735.0,Tennessee,"June 1, 1796",State,TN
34,Ohio,116098,105829,10269,11799448.0,11536504,15,Northern cardinal,Scarlet carnation,"With God, all things are possible / Imperium i...",...,Toledo,273782.0,Akron,198006.0,111.495412,262944.0,Ohio,"March 1, 1803",State,OH
35,Virginia,110787,102279,8508,8631393.0,8001024,11,Northern cardinal,American dogwood,Sic semper tyrannis,...,Richmond,228783.0,Newport News,178626.0,84.390667,630369.0,Virginia,"June 25, 1788",State,VA
36,Kentucky,104656,102269,2387,4505836.0,4339367,6,Northern cardinal,Goldenrod,"United we stand, divided we fall; Deo gratiam ...",...,Owensboro,59809.0,Covington,40366.0,44.058669,166469.0,Kentucky,"June 1, 1792",State,KY
37,Indiana,94326,92789,1537,6785528.0,6483802,9,Northern cardinal,Peony,The crossroads of America,...,South Bend,103290.0,Carmel,99329.0,73.128582,301726.0,Indiana,"December 11, 1816",State,IN
38,Maine,91633,79883,11750,1362359.0,1328361,2,Chickadee,White pine cone and tassel,Dirigo,...,South Portland,25606.0,Auburn,23196.0,17.054430,33998.0,Maine,"March 15, 1820",State,ME
39,South Carolina,82933,77857,5076,5118425.0,4625364,7,Carolina wren,Yellow jessamine,Dum spiro spero / animis opibusque parati,...,Mount Pleasant,89338.0,Rock Hill,74309.0,65.741359,493061.0,South Carolina,"May 23, 1788",State,SC
40,West Virginia,62756,62259,497,1793716.0,1852994,2,Northern cardinal,Rhododendron,Montani semper liberi,...,Parkersburg,29675.0,Wheeling,26771.0,28.810549,-59278.0,West Virginia,"June 20, 1863",State,WV
41,Maryland,32131,25142,6990,6177224.0,5773552,8,Baltimore oriole,Black-eyed susan,"Fatti maschi, parole femmine / Scuto bonae vol...",...,Silver Spring,83267.0,Waldorf,78904.0,245.693421,403672.0,Maryland,"April 28, 1788",State,MD
42,Vermont,24906,23871,1035,643077.0,625741,1,Bananaquit,Red clover,Freedom and Unity and Stella quarta decima ful...,...,Barre,8605.0,Montpelier,7436.0,26.939676,17336.0,Vermont,"March 4, 1791",State,VT
43,New Hampshire,24214,23187,1027,1377529.0,1316470,2,Purple finch,Purple lilac,Live free or die,...,Dover,31771.0,Rochester,31366.0,59.409540,61059.0,New Hampshire,"June 21, 1788",State,NH
44,Massachusetts,27336,20202,7134,7029917.0,6547629,9,Black-capped chickadee,Mayflower,Ense petit placidam sub libertate quietem,...,Cambridge,118977.0,Lowell,111670.0,347.981239,482288.0,Massachusetts,"February 6, 1788",State,MA
45,New Jersey,22591,19047,3544,9288994.0,8791894,12,Eastern goldfinch (American goldfinch),Violet,Liberty and Prosperity,...,Elizabeth,128885.0,Edison,100008.0,487.688035,497100.0,New Jersey,"December 18, 1787",State,NJ
46,Hawaii,28313,16635,11678,1455271.0,1360301,2,Hawaiian goose (Nēnē),Hawaiian hibiscus,Ua Mau ke Ea o ka ‘Āina i ka Pono,...,Hilo1,43263.0,Kailua1,38635.0,87.482477,94970.0,Hawaii,"August 21, 1959",State,HI
47,Connecticut,14357,12542,1816,3605944.0,3574097,5,American robin,Mountain laurel,Qui transtulit sustinet,...,Hartford,122587.0,Waterbury,108093.0,287.509488,31847.0,Connecticut,"January 9, 1788",State,CT
48,Puerto Rico,13791,8868,4924,3285874.0,3725789,1*,None,Flor de Maga,Joannes Est Nomen Eius,...,Ponce,133191.0,Caguas,124434.0,370.531574,-439915.0,Puerto Rico,"April 11, 1899",Territory,PR
49,Delaware,6446,5047,1399,989948.0,897934,1,Delaware Blue Hen,Peach blossom,Liberty and independence,...,Middletown,22582.0,Smyrna,11580.0,196.145829,92014.0,Delaware,"December 7, 1787",State,DE
50,Rhode Island,4001,2678,1324,1097379.0,1052567,2,Rhode Island Red,Violet,Hope,...,Pawtucket,71847.0,East Providence,47476.0,409.775579,44812.0,Rhode Island,"May 29, 1790",State,RI
51,Guam,1478,543,935,168.4,159358,1*,Guam rail (ko'ko'),Bougainvillea spectabilis,Where America's Day Begins,...,Mangilao,15191.0,Barrigada,8875.0,0.310129,-159189.6,Guam,"April 11, 1899",Territory,GU
52,Northern Mariana Islands,5117,472,4644,51.0,53883,1*,Mariana fruit-dove,Flores mayo,NaN,...,Northern Islands2,0.0,NaN,NaN,0.108051,-53832.0,Northern Mariana Islands,"November 4, 1986",Territory,MP
53,United States Virgin Islands,1898,348,1550,106235.0,106405,1*,California gull,Yellow Elder,United in Pride and Hope,...,East End3,5128.0,Southcentral3,3277.0,305.272989,-170.0,United States Virgin Islands,"March 31, 1917",Territory,VI
54,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,'Ili'ili,3195.0,Pava'ia'i,2450.0,249.681818,-6082.0,American Samoa,"April 17, 1900",Territory,AS
55,District of Columbia,177,158,19,689545.0,601723,1*,Wood thrush,American Beauty Rose,Justitia Omnibus,...,NaN,NaN,NaN,NaN,4364.208861,87822.0,District of Columbia,"February 21, 1871",Federal District,DC

In [124]:
table['dateFixed'] = pd.to_datetime(table['Date'], errors = 'raise')
q7 = table[table['dateFixed'] < pd.datetime(1790,1,1)]
q7['State_flower'].value_counts().head(1)

Mountain laurel    2
Name: State_flower, dtype: int64

In [125]:
Question 8:

SyntaxError: invalid syntax (<ipython-input-125-b486cfa487bf>, line 1)

In [126]:
#territory with highest population density
temp = table[table['Status'].str.contains('Territory')]
temp[['State','density','Status']].head(1)

            State     density     Status
48   Puerto Rico   370.531574  Territory

In [127]:
#state with lowest population density
temp1 = table[table['Status'].str.contains('State')]
temp1[['State','density']].sort_values(by='density',ascending = True).head(1)

      State   density
0   Alaska   0.496221

In [128]:
Question 9

SyntaxError: invalid syntax (<ipython-input-128-aafd61d550eb>, line 1)

In [134]:
import matplotlib as plt
%config InlineBackend.figure_format = 'retina'
plot = table[['city_t_pop','Abbreviation']].plot(kind= 'bar',color=['black'],figsize=(10,4))
plot.set_sticklabels(table['Abbreviation']):
plot

SyntaxError: invalid syntax (<ipython-input-134-673f51fd8559>, line 4)

In [132]:
%config InlineBackend.figure_format = 'retina'
plot = table[['Area_water','Abbreviation']].plot(kind='bar',color=['blue'],figure=(10,4))
plot.set_sticklabels(newdataset['Abbreviatiom']):
plot

SyntaxError: invalid syntax (<ipython-input-132-bfa5c031e901>, line 3)