# Assignment: Working with Data

>Using the data below, answer the following questions:

>1) Which entities (top 5) had the largest population density in 2020?
>2) Which entities have more water area than land area? 
>3) Which entities increased in population the most in the last 10 years?
>4) What state bird accounts for the largest population as of 2020? Land area?
>5) How many entities' largest city is their capital city?
>6) Which city has the largest percent drop from their largest city to their 5th largest? 100*(1st largest - 5th largest)/(1st largest)

In [1]:
import pandas as pd

In [2]:
facts = pd.read_csv('../data/state_facts.tsv',delimiter="\t")
facts.head(5)

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,City_1,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop
0,Alabama,135767,131171,4597,5024279.0,4779736,7,Yellowhammer (Northern flicker),Camellia,Audemus jura nostra defendere,...,Birmingham,208928,Huntsville,204189.0,Montgomery,198956.0,Mobile,189572.0,Tuscaloosa,101113.0
1,Alaska,1723337,1477953,245384,733391.0,710231,1,Willow ptarmigan,Forget-me-not,North to the Future,...,Anchorage,291538,Juneau,32197.0,Fairbanks,31516.0,Wasilla,10529.0,Sitka,8647.0
2,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,Tafuna,7945,Nu'uuli,3955.0,Pago Pago,3656.0,'Ili'ili,3195.0,Pava'ia'i,2450.0
3,Arizona,295234,294207,1026,7151502.0,6392017,9,Cactus wren,Saguaro cactus blossom,Ditat Deus,...,Phoenix,1660272,Tucson,545975.0,Mesa,508958.0,Chandler,257165.0,Scottsdale,255310.0
4,Arkansas,137732,134771,2961,3011524.0,2915918,4,Northern mockingbird,Apple blossom,Regnat populus,...,Little Rock,197881,Fort Smith,87845.0,Fayetteville,86751.0,Springdale,81029.0,Jonesboro,76990.0

In [3]:
facts[['State','Pop_2020','Area_land']]
facts['density'] = facts['Pop_2020']/facts['Area_land']
facts.sort_values(by= 'density',ascending = False, inplace=True)
facts[['State','Pop_2020','Area_land','density']].head(5)

                     State   Pop_2020  Area_land      density
9    District of Columbia    689545.0        158  4364.208861
32             New Jersey   9288994.0      19047   487.688035
43           Rhode Island   1097379.0       2678   409.775579
42            Puerto Rico   3285874.0       8868   370.531574
23          Massachusetts   7029917.0      20202   347.981239

In [4]:
facts[(facts['Area_water'] > facts['Area_land'])]

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,density
48,United States Virgin Islands,1898,348,1550,106235.0,106405,1*,California gull,Yellow Elder,United in Pride and Hope,...,18481,Sion Farm3,13003.0,Northside3,10049.0,East End3,5128.0,Southcentral3,3277.0,305.272989
2,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,7945,Nu'uuli,3955.0,Pago Pago,3656.0,'Ili'ili,3195.0,Pava'ia'i,2450.0,249.681818
12,Guam,1478,543,935,168.4,159358,1*,Guam rail (ko'ko'),Bougainvillea spectabilis,Where America's Day Begins,...,44943,Yigo,20539.0,Tamuning,19685.0,Mangilao,15191.0,Barrigada,8875.0,0.310129
37,Northern Mariana Islands,5117,472,4644,51.0,53883,1*,Mariana fruit-dove,Flores mayo,NaN,...,48220,Tinian2,3136.0,Rota2,2527.0,Northern Islands2,0.0,NaN,NaN,0.108051

In [5]:
facts['increase'] = facts['Pop_2020'] - facts['Pop_2010']
facts.sort_values(by= 'increase',ascending = False, inplace=True)
facts[['State','Pop_2020','Pop_2010','increase']].head()

           State    Pop_2020  Pop_2010   increase
47        Texas   29145505.0  25145561  3999944.0
10      Florida   21538187.0  18801310  2736877.0
5    California   39538223.0  37253956  2284267.0
11      Georgia   10711908.0   9687653  1024255.0
52   Washington    7705281.0   6724540   980741.0

In [6]:
facts.sort_values(by='Pop_2020',ascending = False,inplace=True)
facts[['Pop_2020','State_bird']].head(1)

     Pop_2020         State_bird
5  39538223.0  California quail

In [7]:
facts.sort_values(by='Area_land',ascending = False,inplace=True)
facts[['State_bird','Area_land']].head(1)

          State_bird  Area_land
1  Willow ptarmigan     1477953

In [8]:
facts.columns
sum(facts['Capital_pop'] -- facts['city_1_pop'])

55036045

In [10]:
len(facts[facts['Capital_pop']>facts['city_1_pop']])

10

In [11]:
facts['percent_drop'] = (facts['city_1_pop']-facts['city_5_pop'])/facts['city_1_pop']
facts.sort_values(by= 'percent_drop',ascending = False,inplace=True)
facts[['State','city_1_pop','city_5_pop','percent_drop']].head(1)

         State  city_1_pop  city_5_pop  percent_drop
34   New York      8879928    142749.0      0.983925

>Using the "state_dates.tsv" data, answer the remaining questions. You will need to merge the two data sets together:

>7) Of the states that joined the United States before 1790, what is the most common state flower?
>8) Which has the larger population density, the most dense US Territory or the least dense state?
>9) Make a graph that plots the populations of the largest city in each entity in the order in which they joined the US. Make the bars black
>10) Make two additional graphs like the one above but one for land area (green bars) and one for water area (blue bars)

Hint: `pd.read_csv('../data/state_dates.tsv',delimiter="\t")`

Hint: You likely want to convert the Date column to datetime. You might have to correct errors in the data as well.

Hint: `states['Date']<pd.datetime(1790,1,1)`

Hint: `pd.merge(****,****,left_on='USPS_code',right_on='Abbreviation',how='outer')`

In [ ]:
import matplotlib as plt

In [ ]:
state = pd.read_csv('../data/state_dates.tsv',delimiter="\t")
state

In [ ]:
table = pd.merge(facts, state,left_on='USPS_code',right_on='Abbreviation',how='outer')
table

In [ ]:
table['dateFixed'] = pd.to_datetime(table['Date'], errors = 'raise')
q7 = table[table['dateFixed'] < pd.datetime(1790,1,1)]
q7['State_flower'].value_counts().head(1)

In [ ]:
#territory with highest population density
temp = table[table['Status'].str.contains('Territory')]
temp[['State','density','Status']].head(1)

In [ ]:
#state with lowest population density
temp1 = table[table['Status'].str.contains('State')]
temp1[['State','density']].sort_values(by='density',ascending = True).head(1)

In [ ]:
Question 9

In [ ]:
table.columns

In [ ]:
table.columns

In [ ]:
table=table.sort_values(by='dateFixed')

In [ ]:
import matplotlib as plt
%config InlineBackend.figure_format = 'retina'
plot = table['city_1_pop'].plot(kind= 'bar',color=['black'],figsize=(10,4))
plot.set_xticklabels(table['Abbreviation'])
plot

In [ ]:
plot = table['Area_land'].plot(kind='bar',color=['green'],figsize=(10,4))
plot.set_xticklabels(table['Abbreviation'])
plot

In [ ]:
plot = table['Area_water'].plot(kind='bar',color=['blue'],figsize=(10,4))
plot.set_xticklabels(table['Abbreviation'])
plot